* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.main-content {
  justify-content: space-around;
  padding: 20px;
}

.form-container {
  justify-content: space-around;
}

form {
  margin-top: 20px;
  gap: 20px;
  width: 200px;
}

form input,
form button,
.score-container ul li,
.refresh-btn {
  height: 30px;
}

form button,
.refresh-btn {
  width: 100px;
}

form button {
  align-self: flex-end;
}

.main-header {
  padding: 50px 50px 50px 170px;
}

.score-container {
  gap: 10px;
}

.score-container ul {
  list-style: none;
  border: 1px solid black;
  width: 450px;
  padding: 14px 7px 14px 7px;
}

.score-container ul li:nth-child(odd) {
  background-color: #ddd;
}
